.platform--title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 20px 30px;
    border-bottom: 1px solid #e3e3e3;
}

.platform--title--logo {
    font-size: 2rem;
    font-weight: bold;
}

.platform--title--menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
    height: 65.5vh;
}

.sign--up--main {
    text-align: center;
}

.sign--up--title {
    font-size: 2.4rem;
    font-weight: 800;
}

.sign--up--input {
    margin-top: 70px;
}

.sign--up--input p {
    font-size: 0.9rem;
}

.input--id--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.input--id {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    padding: 20px 0;
    border-bottom: 1px solid #e3e3e3;
}

#sign--up--id {
    margin-left: 10px;
    font-size: medium;
    border: none;
}

.input--id--check {
    margin-left: 10px;
}

#check--id {
    color: rgb(97, 112, 183);
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
    padding: 10px 20px;
    border: 1px solid rgb(97, 112, 183);
    border-radius: 40px;
}

#check--id:hover {
    cursor: pointer;
}

#success {
    display: none;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-top: 10px;
    background-color: rgba(0, 255, 0, 0.1);
    border: 1px solid rgba(0, 255, 0, 0.3);
    border-radius: 20px;
}

#duplicate, #id--null, #pw--null, #pw--not--same, #repeat--pw--null, #name--null {
    display: none;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-top: 10px;
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid rgba(255, 0, 0, 0.3);
    border-radius: 20px;
}

.input--name--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 20px 0;
    border-bottom: 1px solid #e3e3e3;
}

.input--name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}

#name {
    text-align: start;
}

#sign--up--name {
    margin-left: 10px;
    font-size: medium;
    border: none;
}

.input--pw--container {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    padding: 20px 0;
    border-bottom: 1px solid #e3e3e3;
}

.warn {
    border-bottom: 2px solid red;
    transition-duration: 0.5s;
}

.caution {
    border-bottom: 2px solid orange;
    transition-duration: 0.5s;
}

.safe {
    border-bottom: 2px solid green;
    transition-duration: 0.5s;
}

.input--pw {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}

#sign--up--pw {
    margin-left: 10px;
    font-size: medium;
    border: none;
}

.input--repeat--pw--container {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    padding: 20px 0;
    border-bottom: 1px solid #e3e3e3;
}

.input--repeat--pw {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}

#repeat--pw {
    margin-left: 10px;
    font-size: medium;
    border: none;
}

.sign--up--confirm {
    margin-top: 40px;
}

#sign--up--btn {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(97, 112, 183);
    padding: 10px 180px;
    border: 1px solid rgb(97, 112, 183);
    border-radius: 40px;
}

#sign--up--btn:hover {
    cursor: pointer;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(247, 247, 247);
}

/* 아래 미디어 쿼리는 4K 해상도의 큰 모니터 */
@media (min-width: 2560px) {
    #title--logo {
        padding: 10px 10px;
        font-size: 4rem;
    }

    .platform--title--menu {
        width: 400px;
        font-size: 3rem;
    }

    section {
        height: 90vh;
        width: 100%;
        padding: 0;
    }

    .sign--up--main {
        height: 10vh;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sign--up--title {
        font-size: 4rem;
    }

    .sign--up--input {
        height: 100vh;
        width: 50%;
    }

    .input--id--container, .input--name--container, .input--pw--container, .input--repeat--pw--container {
        width: 1000px;
    }

    .input--id, .input--name, .input--pw, .input--repeat--pw {
        width: 800px;
    }

    #id, #name, #pw, #check--pw {
        font-size: 2.5rem;
    }

    #sign--up--id, #sign--up--name, #sign--up--pw, #repeat--pw {
        font-size: 2.5rem;
    }

    #check--id {
        font-size: 2rem;
        width: max-content;
    }

    #sign--up--btn {
        margin-top: 50px;
        padding: 10px 250px;
        font-size: 2.5rem;
    }

    .copyright {
        font-size: 2rem;
    }
}

/* 아래 미디어 쿼리는 mobile */
@media (max-width: 425px) {
    .platform--title--logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #title--logo {
        font-size: 1.3rem;
    }

    .platform--title--menu {
        width: 120px;
    }

    section {
        height: 60vh;
    }

    #sign--up--text {
        font-size: 1.8rem;
    }

    .sign--up--input {
        margin-top: 30px;
    }

    .input--id {
        width: 270px;
    }

    #sign--up--id {
        width: 165px;
    }

    #check--id {
        font-size: 0.9rem;
        width: max-content;
    }

    #sign--up--btn {
        padding: 10px 130px;
    }
}

@media (max-width: 375px) {
    .sign--up--main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 350px;
    }

    .sign--up--input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 330px;
    }

    .input--id--container, .input--name--container, .input--pw--container, .input--repeat--pw--container {
        width: 330px;
    }

    #sign--up--id {
        width: 160px;
    }

    .input--name, .input--pw, .input--repeat--pw {
        width: 290px;
    }

    #sign--up--name, #sign--up--pw, #repeat--pw {
        margin-left: 0;
    }

    #id, #name, #pw, #check--pw {
        font-size: 12px;
    }

    #check--id {
        font-size: 0.7rem;
        padding: 5px 10px;
        width: max-content;
    }

    #sign--up--btn {
        padding: 10px 100px;
    }

    #duplicate, #id--null, #pw--null, #pw--not--same, #repeat--pw--null, #name--null, #success {
        width: 330px;
    }
}