


/* Layout */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(240, 237, 237);
    height: 6vh;
    padding: 10px
}

.out-container {
  height: 80vh;
  background-color: aliceblue;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  
  margin: 0 auto;
  padding: 20px 20px;
}


.aa{
  display: flex;
  flex: 1;
}

.back-btn {
  font-weight: bold;
  margin: 10px;
  color: #444;
  cursor: pointer;
}


.profile-section {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.profile-img {
  padding: 25px;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  
}

.resume-img{
  display: flex;
  justify-content: space-between;
}

.resume-count {
  font-size: 16px;
  margin-bottom: 10px;
}



.badge {
  background-color: #5f5cfc;
  color: white;
  padding: 2px 6px;
  border-radius: 8px;
  font-size: 12px;
}



.register-btn {
  background-color: #5f5cfc;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.container-inner {
  display: flex;

}
.container-inner-card {
  flex: 1;
}

.bb{
  flex: 1;
}

.resume-inner2{
  display: flex;
  justify-content: space-between;
}

.resume-card {
  margin: auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.resume-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.edit-btn {
  background-color: #e0e5f5;
  border: none;
  padding: 6px 12px;
  border-radius: 10px;
  cursor: pointer;
}

.resume-subtitle {
  margin: 8px 0;
  color: #888;
}

.tags {
  display: flex;
  gap: 10px;
}

.tag {
  background-color: #dee3f4;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}


.footer{
 text-align: center;
 padding: 40px 0;
 font-size: 12px;
 background-color: white;
 font-weight: bold;
}

@media (min-width: 320px) and (max-width:2400px) {
  .media{
    max-width: 100%;
    font-size: 100%;
  }
}






